/* unvisited link */
a:link {
color: #000000;
text-decoration: none;
}

/* visited link */
a:visited {
color: #000000;
text-decoration: none;

}

/* mouse over link */
a:hover {

        -webkit-filter: blur(1px);
        filter: blur(1px);
        color: #ffffff;


}

/* selected link */
a:active {
color: #ffffff;
text-decoration: none;

}


img{

/*border:1px solid #F8F8FF;*/
}

h1 {
    font-size: 50px;
    color: #ffffff;
}

h3 {
    font-size: 25px;
    color: #000000;
}
/* prueba  */
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url("imagen laser.jpg");

  /* Set a specific height */
  height: 60%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
